html{
    font-size: 62.5%;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #dfd3c3;
}
body::-webkit-scrollbar{
    display: none;
}


/* Navbar */
.navbar-section{
    background-color: transparent;
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.navbar-container{
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.navbar-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.navbar-txt{
    font-family: 'Wix Madefor Text', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    margin: 0;
    padding: 0rem 1rem;
    border: 1px solid #47372d;
    border-radius: 5px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.navimg{
    width: 11rem;
    height: 11rem;
}
.navlinks{
    padding: 0rem 20rem 1rem 20rem;
    margin-left: 1rem;
    border-bottom: 1px solid #47372d;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.navbtn{
    background-color: transparent;
    border: none;
    cursor: pointer;

    transition: all 0.15s;
}
.navlink:link,
.navlink:visited{
    font-family: 'Wix Madefor Text', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: #47372d;
    text-decoration: none;
}
.navicons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.navicon{
    font-size: 3rem;
    color: #47372d;
}
/* NavCard Component */
.navcard{
    width: 15rem;
    height: 20rem;
    background-color: #dfd3c3;
    border: 1px solid #47372d;
    border-radius: 15px;
    position: absolute;
    top: 10rem;
    right: 5.3rem;

    transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
}
.navcard-container{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.navcard-header{
    font-size: 2.4rem;
    font-family: 'Wix Madefor Text', sans-serif;
    font-weight: 500;
    color: #47372d;
    margin: 0;
}
.navcard-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.navcard-link:link,
.navcard-link:visited{
    font-size: 1.6rem;
    font-family: 'Wix Madefor Text', sans-serif;
    color: #47372d;
}

/* LoginCard  Component */
.logincard{
    width: 15rem;
    height: 12rem;
    border: 1px solid #47372d;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 10rem;
    right: 15rem;
    z-index: 99999999;
}
.logincard-container{
    padding: 2rem;
}
.login-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.login-link:link,
.login-link:visited{
    font-size: 2rem;
    font-family: 'Wix Madefor Text', sans-serif;
    color: #47372d;
    text-decoration: none;
}
.signup-link:link,
.signup-link:visited{
    background-color: #dfd3c3;
    border: 1px solid #47372d;
    padding: 1rem;
    border-radius: 15px;
}
/* Header Section */
.header-section{
    width: 100%;
    height: 100vh;
    position: relative;
}
.header-img{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


/* Main Part Section */

.mainpart-section{
    width: 100%;
    height: 100vh;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.mainpart-section::after{
    content: "test";
    color: transparent;
    border-bottom: 2px solid #47372d;
    width: 100rem;
    position: absolute;
    top: -6rem;
    left: 0rem;
    z-index: 99999;

}
.mainpart-section::before{
    content: "test";
    color: transparent;
    border-bottom: 2px solid #47372d;
    width: 110rem;
    position: absolute;
    top: -5.5rem;
    left: 0rem;
    z-index: 99999;

}
.mainpart-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.mainpart-top{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9rem;
}
.mainpart-btn-box{
    width: 32rem;
    height: 11rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainpart-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Wix Madefor Text', sans-serif;
    font-size: 2.8rem;
    font-weight: lighter;
    color: #47372d;
  

    transition: all 0.15s;
}
.mainpart-btn-link{
    font-family: 'Wix Madefor Text', sans-serif;
    font-size: 2.8rem;
    font-weight: lighter;
    color: #47372d;
    text-decoration: none;
}
.btn-div{
    position: relative;
}
.mainbtn-img1{
    width: 30rem;
    height: 15rem;
    position: absolute;
    top: -5.5rem;
    left: -6rem;
    z-index: -1;
}
.mainbtn-img2{
    width: 30rem;
    height: 15rem;
    position: absolute;
    top: -5.5rem;
    right: -3.5rem;
    z-index: -1;
}

.mainimg{
    width: 13rem;
    height: 13rem;
}
.mainpart-bottom{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.mainpart-bottom-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}
.imgslider-box{
    background-color: transparent;
    width: 30rem;
    height: 34rem;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.imgslider-box-big{
    width: 34rem;
    height: 36rem;
}
.slide{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: transform 0.1s ease-in-out;
}
.transitioning {
    transform: scale(0.8); /* Adjust the desired animation effect */
    opacity: 0.5; /* Adjust the desired animation effect */
  }
.next-button{
    background-color: transparent;
    border: none;
    cursor: pointer;

    font-size: 3rem;
    color: #47372d;
}
.prev-button{
    background-color: transparent;
    border: none;
    cursor: pointer;

    font-size: 3rem;
    color: #47372d;
}
/* Decor Page NavBar Section*/
.decornav{
    background-color: transparent;
    width: 96%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.decornav-container{
    width: 100%;
    height: 15rem;
    display: grid;
    grid-template-columns: 3fr 6fr 3fr;
    align-items: center;
    justify-items: center;
}
.decornav-brand{
    color: #47372d;
    font-size: 8rem;
    font-family: 'Great Vibes', cursive;
    font-weight: 400;
    margin: 0;
}
.decornav-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.decornav-btn{
    background-color: #fff;
    padding: 1rem 3rem;
    border: 1px solid #47372d;
    border-radius: 10px;
    cursor: pointer;

    font-size: 1.2rem;
    font-weight: lighter;
    color: #47372d;
    font-family: 'Wix Madefor Text', sans-serif;
}
.decornav-icon{
    background-color: transparent;
    border: none;
    cursor: pointer;

    font-size: 3rem;
    color: #47372d;

}
.decornav::after{
    content: '';
    color: transparent;
    border-bottom: 2px solid #47372d;
    width: 120rem;
    height: 0.5rem;
    position: absolute;
    bottom: 0;
    left: 4rem;
}

/* Decor Filter Navigation */
.decorfilternav{
    background-color: transparent;
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.decorfilternav-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.decorfilter-form{
    position: relative;
}
.searchbar{
    width: 33rem;
    height: 4rem;
    border: 1px solid #47372d;
    border-radius: 15px;
    padding: 0 1rem 0 1rem;

    color: #47372d;
    font-size: 1.8rem;
    
}
.searchbar-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;

    font-size: 2.5rem;
    color: #47372d;

    position: absolute;
    top: 0.5rem;
    right: 1rem;
}
.decorfilternav-filters{
    border-top: 1px solid #47372d;
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.decorfilternav-btn{
    width: 20rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    
    font-size: 2.4rem;
    font-family: 'Wix Madefor Text', sans-serif;
    color: #47372d;
    font-weight: 400;


}
.border-btn1{
    border-left: 1px solid #47372d  ;
    border-right: 1px solid #47372d  ;
}
.border-btn2{
    border-left: 1px solid #47372d  ;
    border-right: 1px solid #47372d  ;
}
.border-btn3{
    border-right: 1px solid #47372d  ;
}
.decorfilternav::after{
    content: '';
    color: transparent;
    border-top: 1px solid #47372d;
    width: 120rem;
    height: 0.5rem;
    position: absolute;
    top: 0.5rem;
    left: 4rem;
}

/* DecorWindow Section */
.decorwindow{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    position: relative;
}
.decorwindow-container{
    width: 104rem;
    height: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    column-gap: 1rem;
    row-gap: 2rem;
}
.decorwindow-filter-btn-box{
    width: 100rem;
    margin-bottom: 1rem;
}
.decorwindow-filter-btn{
    background-color: transparent;
    border: 1px solid #47372d;
    cursor: pointer;

    font-size: 2.2rem;
    font-weight: 500;
    color: #47372d;
    font-family: 'Wix Madefor Text', sans-serif;
    border-radius: 10px;
    padding: 0.5rem 1rem;
}
.decorcard{
    width: 20rem;
    height: 27rem;
    background-color: #fff;
    border: 1px solid #47372d;
    border-radius: 15px;
}
.decorcard-container{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.decorcard-img{
    width: 18rem;
    height: 18rem;
    border-radius: 15px;
}
.decorcard-title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
}
.decorcard-header{
    font-size: 2rem;
    font-family:  'Wix Madefor Text', sans-serif;
    color: #47372d;
    font-weight: lighter;
    margin: 0;
}
.decorcard-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;

    font-size: 2rem;
    color: #47372d;
}
.decorcard-details{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
}
.decorcard-color-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.decorcard-color{
    width: 1rem;
    height: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.colorbox{
    width: 1rem;
    height: 1rem;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.decorcard-cost{
    margin: 0;
    font-size: 2rem;
    font-family: 'Wix Madefor Text', sans-serif;
    font-weight: lighter;
    color: #47372d;
}
/* Decor Filter Card */
.decorfiltercard{
    width: 25rem;
    height: auto;
    background-color: #fff;
    border: 1px solid #47372d;
    border-radius: 10px;

    position: absolute;
    top: 0rem;
    right: 0;
}
.decorfiltercard-container{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
}
.filtercard-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;

    font-size: 2.2rem;
    font-family: 'Wix Madefor Text', sans-serif;
    font-weight: 500;
    color: #47372d;
}
.filtercard-firstsection{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}
.filterbox{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}
.filterbox label{
    font-size: 1.8rem;
    font-family: 'Wix Madefor Text', sans-serif;
    color: #47372d;
}
.filterbox-large{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
}
.filterbox-alt{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-left: 2rem;
}
.filterbox-alt-large{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
    margin-left: 2rem;
}
.filtercard-secondsection{
    border-top: 1px solid #47372d;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}
.filtercard-colors{
    margin-left: 3rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 0.5rem;
    row-gap: 0.5rem;
}
.filtercard-color{
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #47372d;
    padding: 0;
}
.white{
    background-color: white;
}
.black{
    background-color: black;
}
.light-blue{
    background-color: lightblue;
}
.yellow{
    background-color: yellow;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.purple{
    background-color: purple;
}
.pink{
    background-color: pink;
}
.orange{
    background-color: orange;
}
.brown{
    background-color: brown;
}
.gold{
    background-color: gold;
}
.silver{
    background-color: silver;
}
.gray{
    background-color: gray;
}

.filtercard-thridsection{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}
.thirdsection-header{
    font-size: 2.2rem;
    font-family: 'Wix Madefor Text', sans-serif;
    font-weight: 500;
    color: #47372d;
    text-align: center;
}
.thirdsection-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}
.filtercard-forthsection{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}

/* Decor Sidebar */
.decorsidebar{
    width: 5rem;
    height: 105rem;
    background-color: #fff;
    border: 1px solid #47372d;
    border-radius: 10px;
    position: absolute;
    top: 16rem;
    right: 0rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.decorsiderbar-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding-top: 2rem;
}
.sidebar-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;

    font-size: 2.4rem;
    color: #47372d;

}
/* Login Page */
.loginpage{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.loginimg{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.login-navbar{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
.login-navbar-container{
    width: 100%;
    display: grid;
    grid-template-columns: 8.5fr 3.5fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: end;
}
.login-nav-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.login-nav-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;

    font-size: 2.4rem;
    font-family: 'Wix Madefor Text', sans-serif;
    color: #47372d;
    font-weight: 500;
}
.login-nav-icons{ 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-right: 3rem;
}
.login-nav-icon{
    background-color: transparent;
    border: none;
    cursor: pointer;

    font-size: 3rem;
    font-family: 'Wix Madefor Text', sans-serif;
    color: #47372d;
    font-weight: 500;
}


.loginpage-form{
    width: 60rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 10rem;
}
.loginpage-header{
    font-size: 6rem;
    font-family: 'Wix Madefor Text', sans-serif;
    color: #47372d;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 2rem;
}
.loginpage-form form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.loginpage-form-box{
    background-color: #dfd3c3;
    width: 40rem;
    height: 3rem;
    border: 1px solid #47372d;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 11fr;
    justify-items: start;
    align-items: center;
}
.formicon{
    font-size: 2rem;
    margin-left: 2rem;
}
.loginpage-input{
    background-color: transparent;
    text-align: center;
    border: none;
    width: 100%;
    height: 100%;
    text-align: center;
}
.loginpage-input:focus{
    outline: none;
}
.form-check{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}
.formcheck-txt{
    font-size: 2rem;
    font-family:  'Wix Madefor Text', sans-serif;
    color: #47372d;

}
.forgot-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;

    font-size: 2rem;
    color: #47372d;
    font-family:  'Wix Madefor Text', sans-serif;
}
.loginbtns{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.loginbtn{
    margin-top: 2rem;
    background-color: #47372d;
    color: #dfd3c3;
    width: 40rem;
    font-size: 2rem;
    font-family: 'Wix Madefor Text', sans-serif;
}
.signbtn{
    font-size: 2rem;
    font-family: 'Wix Madefor Text', sans-serif;
    color: #47372d;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.google-logo{
    width: 2.5rem;
    height: 2.5rem;
}
.googlebtn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 2rem;
    font-family:  'Wix Madefor Text', sans-serif;
    color: #47372d;
    margin-top: 3rem;
}

/* SignUp Page */
.signpage-form{
    width: 50rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 10rem;
    margin-right: 3rem;
    margin-top: 5rem;
}
.signpage-header-box{
    width: 44rem;
    text-align: center;
}
.signuppage-header{
    font-size: 4rem;
    font-family: 'Wix Madefor Text', sans-serif;
    color: #47372d;
    font-weight: lighter;
    text-align: center;
    margin: 0;
    text-align: center;
}
.signup-form-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}
.signup-form-box label{
    font-size: 1.6rem;
    font-family:  'Wix Madefor Text', sans-serif;
    color: #47372d;
}
.signpage-input{
    width: 40rem;
    height: 2.5rem;
    border-radius: 10px;
    border: 1px solid #47372d;
    padding: 0 2rem 0 2rem;
}
.loginbtn-signuppage{
    background-color: #47372d;
    color: #dfd3c3;
    width: 44rem;
    font-size: 2rem;
    font-family: 'Wix Madefor Text', sans-serif;
}
.signup-googlebtn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 2rem;
    font-family:  'Wix Madefor Text', sans-serif;
    color: #47372d;
    margin-top: 1rem;
}
/* Our Services Page */
.ourservices-header{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.ourservices-header::after{
    content: "";
    border-left: 1px solid #47372d;
    width: 1rem;
    height: 60rem;
    position: absolute;
    top: -15rem;
    left: 16rem;
}
.ourservices-header::before{
    content: "";
    border-left: 1px solid #47372d;
    width: 1rem;
    height: 50rem;
    position: absolute;
    top: 10rem;
    right: 16rem;
}
.ourservices-header-container{
    width: 90rem;
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
}
.ourservices-header-title{
    font-size: 5rem;
    font-family: "Wix Madefor Text", sans-serif;
    font-weight: 500;
    color: #47372d;
}
.ourservices-header-text{
    font-size: 2.4rem;
    font-family: "Wix Madefor Text", sans-serif;
    font-weight: 400;
    color: #47372d;
    text-align: center;
}
.ourservices{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
    padding-bottom: 10rem;
}
.ourservice-row{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}
.ourservice-row-reverse{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}
.row-img{
    width: 100%;
    height: 100%;
}
.rowimg{
    width: 100%;
    height: 100%;
}
.row-contet{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #47372d;
}
.row-header{
    font-size: 3.2rem;
    font-family: "Wix Madefor Text", sans-serif;
    color: #47372d;
}
.row-txt{
    font-size: 1.8rem;
    font-family: "Wix Madefor Text", sans-serif;
    color: #47372d;
    text-align: center;
    padding: 1.5rem;
}

/* About Us Page */
.aboutus-header{
    width: 100%;
    height: 100vh;
    position: relative;
}
.aboutus-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
.aboutus-contentsection{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.aboutus-contentsection::after{
    content: "";
    border-bottom: 2px solid #47372d;
    width: 100rem;
    height: 1rem;
    position: absolute;
    top: 0rem;
    left: 0rem;
    position: absolute;

}
.aboutus-contentsection::before{
    content: "";
    border-bottom: 2px solid #47372d;
    width: 100rem;
    height: 1rem;
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    position: absolute;
}
.contentsection-container{
    width: 110rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}
.contentsection-pattern{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
.whoweare{
    width: 80rem;
    text-align: center;
}
.whoweare-header{
    font-size: 4rem;
    font-family: "Wix Madefor Text", sans-serif;
    font-weight: 500;
    color: #47372d;
}
.whoweare-txt{
    font-size: 2.4rem;
    font-family: "Wix Madefor Text", sans-serif;
    font-weight: 500;
    color: #47372d;
}
.ouraim{
    width: 80rem;
    text-align: center;
}
.ouraim-header{
    font-size: 4rem;
    font-family: "Wix Madefor Text", sans-serif;
    font-weight: 500;
    color: #47372d;
}
.ouraim-txt{
    font-size: 2.4rem;
    font-family: "Wix Madefor Text", sans-serif;
    font-weight: 500;
    color: #47372d;
}

.aboutus-team{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 10rem;
}
.aboutus-team-container{
    width: 110rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.aboutus-title-box{
    width: 100%;
    text-align: center;
}
.aboutus-title{
    font-size: 6rem;
    font-family: "Wix Madefor Text", sans-serif;
    font-weight: 400;
}
.team-container{
    width: 100rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.teamrow{
    width: 100rem;
    display: grid;
    grid-template-columns: 3fr 9fr;
    grid-template-rows: 1fr;
    align-items: end;
    justify-items: center;
}
.teamrow-reverse{
    width: 100rem;
    display: grid;
    grid-template-columns: 9fr 3fr ;
    align-items: end;
    justify-items: center;
}
.teamimg-box{
    position: relative;
}
.teamimg{
    width: 30rem;
    height: 30rem;
}
.img-straight::after{
    content: "";
    border-left: 2px solid #47372d;
    width: 1rem;
    height: 18rem;
    position: absolute;
    top: 15rem;
    left: 2rem;
    position: absolute;
}
.img-straight::before{
    content: "";
    border-bottom: 2px solid #47372d;
    width: 18rem;
    height: 1rem;
    position: absolute;
    top: 30.5rem;
    left: 0rem;
    position: absolute;
}
.img-reverse::after{
    content: "";
    border-left: 2px solid #47372d;
    width: 1rem;
    height: 18rem;
    position: absolute;
    top: 15rem;
    right: 0rem;
    position: absolute;
}
.img-reverse::before{
    content: "";
    border-bottom: 2px solid #47372d;
    width: 18rem;
    height: 1rem;
    position: absolute;
    top: 31rem;
    right: 0rem;
    position: absolute;
}
.img-reverse-large::after{
    content: "";
    border-left: 2px solid #47372d;
    width: 1rem;
    height: 18rem;
    position: absolute;
    top: 18rem;
    right: 2rem;
    position: absolute;
}
.img-reverse-large::before{
    content: "";
    border-bottom: 2px solid #47372d;
    width: 18rem;
    height: 1rem;
    position: absolute;
    top: 32rem;
    right: 0rem;
    position: absolute;
}
.teamimg-large{
    width: 32rem;
    height: 32rem;
}
.teamcontent-box{
    width: 100%;
    height: 10rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.teambox1, .teambox3, .teambox5 {
    border-bottom: 1px solid #47372d;
    padding-bottom: 10rem;
}
.teambox2, .teambox4, .teambox6 {
    border-bottom: 1px solid #47372d;
    padding-bottom: 10rem;
}
.teamcontent-header{
    font-size: 4rem;
    font-family:  "Wix Madefor Text", sans-serif;
    font-weight: 500;
    color: #47372d;
    margin: 0;
}
.teamcontent-txt{
    font-size: 2.8rem;
    font-family:  "Wix Madefor Text", sans-serif;
    font-weight: 500;
    color: #47372d;
    margin: 0;
}



/* Footer Section */
.footer-section{
    width: 100%;
    height: 50vh;
    background-color: #47372d;
    margin-top: 5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-section::after{
    content: "test";
    color: transparent;
    border-bottom: 2px solid #47372d;
    width: 100rem;
    position: absolute;
    top: -2rem;
    left: 0rem;
    z-index: 99999;

}
.footer-section::before{
    content: "test";
    color: transparent;
    border-bottom: 2px solid #47372d;
    width: 110rem;
    position: absolute;
    top: -2.5rem;
    left: 0rem;
    z-index: 99999;

}
.footer-container{
    width: 110rem;
    height: 28rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}
.footer-contact{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.footer-contact-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;

}
.contact-header{
    color: #dfd3c3;
    font-family: 'Wix Madefor Text', sans-serif;
    font-size: 2.4rem;
    font-weight: 500;
}
.contact-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;

    font-size: 2rem;
    color: #dfd3c3;
}
.contact-link:link,
.contact-link:visited{
    text-decoration: none;
    color: #dfd3c3;
    font-family: 'Wix Madefor Text', sans-serif;    
    margin-left: 1rem;
}
.contact-social:link,
.contact-social:visited{
    font-size: 2.4rem;
    color: #dfd3c3;
    margin-left: 0.56rem;
}

.footer-pages{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.footer-pages-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}
.pages-header{
    font-size: 2.4rem;
    color: #dfd3c3;
    font-family: 'Wix Madefor Text', sans-serif; 
    font-weight: 500;
}
.pages-links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}
.page-link:link,
.page-link:visited{
    font-size: 2rem;
    color: #dfd3c3;
    font-family: 'Wix Madefor Text', sans-serif; 
    text-decoration: none;
    font-weight: 500;
}

.footer-campains{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.footer-campains-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}
.campains-header{
    font-size: 2.4rem;
    color: #dfd3c3;
    font-family: 'Wix Madefor Text', sans-serif; 
    font-weight: 500;
}

.footer-help{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.footer-help-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1;
}
.help-header{
    font-size: 2.4rem;
    color: #dfd3c3;
    font-family: 'Wix Madefor Text', sans-serif; 
    font-weight: 500;
}
.help-links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}
.help-link:link,
.help-link:visited{
    font-size: 2rem;
    color: #dfd3c3;
    font-family: 'Wix Madefor Text', sans-serif; 
    text-decoration: none;
    font-weight: 500;

}


/* Media Queries */
@media (max-width: 1277px) {

    /* Main Page */
        /* Navigation Bar */
        .navlink:link,
        .navlink:visited{
            font-family: 'Wix Madefor Text', sans-serif;
            font-size: 1.8rem;
            font-weight: 500;
            color: #47372d;
            text-decoration: none;
        }
        .navlinks{
            padding: 0 15rem 1rem 15rem;
        }
}
@media (max-width: 1161px) {
    /* Main Page */
        /* Navigation Bar */
        .navlink:link,
        .navlink:visited{
            font-family: 'Wix Madefor Text', sans-serif;
            font-size: 1.8rem;
            font-weight: 500;
            color: #47372d;
            text-decoration: none;
        }
        .navlinks{
            padding: 0 10rem 1rem 10rem;
        }

}
@media (max-width: 1103px) {
    /* Main Paga */
        /* Main Part */
        .mainpart-section::after{
            content: "test";
            color: transparent;
            border-bottom: 2px solid #47372d;
            width: 80rem;
            position: absolute;
            top: -6rem;
            left: 0rem;
            z-index: 99999;
        
        }
        .mainpart-section::before{
            content: "test";
            color: transparent;
            border-bottom: 2px solid #47372d;
            width: 90rem;
            position: absolute;
            top: -5.5rem;
            left: 0rem;
            z-index: 99999;
        
        }
        .mainpart-top{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 6rem;
        }
        .imgslider-box{
            background-color: transparent;
            width: 26rem;
            height: 30rem;
            border-radius: 15px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }
        .imgslider-box-big{
            width: 30rem;
            height: 32rem;
        }
        .mainpart-bottom-container{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3rem;
        }
        /* Footer */
        .footer-section::after{
            content: "test";
            color: transparent;
            border-bottom: 2px solid #47372d;
            width: 80rem;
            position: absolute;
            top: -2rem;
            left: 0rem;
            z-index: 99999;
        }
        .footer-section::before{
            content: "test";
            color: transparent;
            border-bottom: 2px solid #47372d;
            width: 90rem;
            position: absolute;
            top: -2.5rem;
            left: 0rem;
            z-index: 99999;
        }
        .help-link:link,
        .help-link:visited{
            font-size: 1.6rem;
        }
        .help-header{
            font-size: 2.2rem;
        }
        .campains-header{
            font-size: 2.2rem;
        }
        .page-link:link,
        .page-link:visited{
            font-size: 1.6rem;
        }
        .pages-header{
            font-size: 2.2rem;
        }
        .contact-btn{
            font-size: 1.8rem;
        }
        .footer-container{
            width: 90rem;
        }
}
@media (max-width: 995px) {
    /* Main Page */
        /* Nav Bar  */
        .navlink:link,
        .navlink:visited{
            font-size: 1.6rem;
        }
        .navlinks{
            padding: 0 8rem 1rem 8rem ;
        }
        .navicon{
            font-size: 2.4rem;
        }
        .navicons{
            gap: 0.5rem;
        }
        .navimg{
            width: 9rem;
            height: 9rem;
        }
        .navbar-txt{
            font-size: 1.2rem;
        }

        /* Main Part */
        .mainpart-bottom-container{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
        }
        .mainpart-section::after{
            content: "test";
            color: transparent;
            border-bottom: 2px solid #47372d;
            width: 60rem;
            position: absolute;
            top: -6rem;
            left: 0rem;
            z-index: 99999;
        
        }
        .mainpart-section::before{
            content: "test";
            color: transparent;
            border-bottom: 2px solid #47372d;
            width: 70rem;
            position: absolute;
            top: -5.5rem;
            left: 0rem;
            z-index: 99999;
        }
        .mainpart-btn-link{
            font-size: 2.2rem;
        }
        .mainpart-btn{
            font-size: 2.2rem;
        }
        .mainbtn-img1{
            width: 22rem;
            height: 11rem;
            top: -4.2rem;
            left: -4.6rem;
        }
        .mainbtn-img2{
            width: 24rem;
            height: 12rem;
            top: -4.4rem;
            right: -2.9rem;
        }
        .mainpart-btn-box{
            width: 26rem;
            height: 13rem;
        }
        /* Footer */
        .footer-section::after{
            content: "test";
            color: transparent;
            border-bottom: 2px solid #47372d;
            width: 60rem;
            position: absolute;
            top: -2rem;
            left: 0rem;
            z-index: 99999;
        }
        .footer-section::before{
            content: "test";
            color: transparent;
            border-bottom: 2px solid #47372d;
            width: 70rem;
            position: absolute;
            top: -2.5rem;
            left: 0rem;
            z-index: 99999;
        }
        .help-link:link,
        .help-link:visited{
            font-size: 1rem;
        }
        .help-header{
            font-size: 1.8rem;
        }
        .campains-header{
            font-size: 1.8rem;
        }
        .page-link:link,
        .page-link:visited{
            font-size: 1rem;
        }
        .pages-header{
            font-size: 1.8rem;
        }
        .contact-btn{
            font-size: 1.4rem;
        }
        .contact-social:link,
        .contact-social:visited{
            font-size: 1.8rem;
            color: #dfd3c3;
            margin-left: 0.56rem;
        }
        .footer-container{
            width: 80rem;
        }
}
@media (max-width: 903px) {
    /* Main Page */
        /* Nav Bar  */
        .navlink:link,
        .navlink:visited{
            font-size: 1.2rem;
            font-weight: bold;
        }
        .navlinks{
            padding: 0 6rem 1rem 6rem ;
        }
        .navicon{
            font-size: 2rem;
        }
        .navicons{
            gap: 0.5rem;
        }
        .navimg{
            width: 7rem;
            height: 7rem;
        }
        .navbar-txt{
            font-size: 1.2rem;
        }
        /* Main Part */
        .imgslider-box{
            background-color: transparent;
            width: 20rem;
            height: 24rem;
            border-radius: 15px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }
        .imgslider-box-big{
            width: 24rem;
            height: 28rem;
        }
        .mainpart-bottom-container{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3rem;
        }
        .mainpart-section::after{
            content: "test";
            color: transparent;
            border-bottom: 2px solid #47372d;
            width: 40rem;
            position: absolute;
            top: -6rem;
            left: 0rem;
            z-index: 99999;
        
        }
        .mainpart-section::before{
            content: "test";
            color: transparent;
            border-bottom: 2px solid #47372d;
            width: 50rem;
            position: absolute;
            top: -5.5rem;
            left: 0rem;
            z-index: 99999;
        }
        .mainpart-btn-link{
            font-size: 1.8rem;
        }
        .mainpart-btn{
            font-size: 1.8rem;
        }
        .mainbtn-img1{
            width: 20rem;
            height: 10rem;
            top: -3.7rem;
            left: -4.4rem;
        }
        .mainbtn-img2{
            width: 22rem;
            height: 11rem;
            top: -4.2rem;
            right: -3.4rem;
        }
        .mainpart-btn-box{
            width: 24rem;
            height: 12rem;
        }
        .mainimg{
            width: 11rem;
            height: 11rem;
        }
        /* Footer */
        .footer-section::after{
            content: "test";
            color: transparent;
            border-bottom: 2px solid #47372d;
            width: 40rem;
            position: absolute;
            top: -2rem;
            left: 0rem;
            z-index: 99999;
        }
        .footer-section::before{
            content: "test";
            color: transparent;
            border-bottom: 2px solid #47372d;
            width: 50rem;
            position: absolute;
            top: -2.5rem;
            left: 0rem;
            z-index: 99999;
        }
        .footer-section{
            width: 100%;
            height: 40vh;
            background-color: #47372d;
            margin-top: 5rem;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .footer-container{
            width: 70rem;
        }
}
@media (max-width: 760px) {
    /* Main Page */
        /* Nav Bar  */
        .navlink:link,
        .navlink:visited{
            font-size: 1.2rem;
            font-weight: bold;
        }
        .navlinks{
            padding: 0 4rem 1rem 4rem ;
            gap: 2rem;
        }
        .navicon{
            font-size: 1.8rem;
        }
        .navicons{
            gap: 0.5rem;
        }
        .navimg{
            width: 7rem;
            height: 7rem;
        }
        .navbar-txt{
            font-size: 1.2rem;
        }
        /* Header Section */
        .header-section{
            height: 80vh;
        }
        .header-img{
            height: 80vh;
        }
        /* Main Part */
        .imgslider-box{
            background-color: transparent;
            width: 16rem;
            height: 18rem;
            border-radius: 15px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }
        .imgslider-box-big{
            width: 20rem;
            height: 22rem;
        }
        .mainpart-bottom-container{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;
        }
        .mainpart-section::after{
            content: "test";
            color: transparent;
            border-bottom: 2px solid #47372d;
            width: 30rem;
            position: absolute;
            top: -6rem;
            left: 0rem;
            z-index: 99999;
        
        }
        .mainpart-section::before{
            content: "test";
            color: transparent;
            border-bottom: 2px solid #47372d;
            width: 40rem;
            position: absolute;
            top: -5.5rem;
            left: 0rem;
            z-index: 99999;
        }
        .mainpart-container{
            gap: 0;
        }
        .mainpart-section{
            height: 90vh;
        }
        .mainpart-btn-link{
            font-size: 1.8rem;
        }
        .mainpart-btn{
            font-size: 1.8rem;
        }
        .mainbtn-img1{
            width: 20rem;
            height: 10rem;
            top: -3.7rem;
            left: -4.4rem;
        }
        .mainbtn-img2{
            width: 22rem;
            height: 11rem;
            top: -4.2rem;
            right: -3.4rem;
        }
        .mainpart-top{
            gap: 1rem;
        }
        .mainpart-btn-box{
            width: 24rem;
            height: 12rem;
        }
        .mainimg{
            width: 11rem;
            height: 11rem;
        }
         /* Footer */
         .footer-section::after{
            content: "test";
            color: transparent;
            border-bottom: 2px solid #47372d;
            width: 40rem;
            position: absolute;
            top: -2rem;
            left: 0rem;
            z-index: 99999;
        }
        .footer-section::before{
            content: "test";
            color: transparent;
            border-bottom: 2px solid #47372d;
            width: 50rem;
            position: absolute;
            top: -2.5rem;
            left: 0rem;
            z-index: 99999;
        }
        .footer-section{
            width: 100%;
            height: 40vh;
            background-color: #47372d;
            margin-top: 5rem;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .help-link:link,
        .help-link:visited{
            font-size: 0.8rem;
        }
        .help-header{
            font-size: 1.6rem;
        }
        .campains-header{
            font-size: 1.6rem;
        }
        .page-link:link,
        .page-link:visited{
            font-size: 0.8rem;
        }
        .pages-header{
            font-size: 1.6rem;
        }
        .contact-btn{
            font-size: 1rem;
        }
        .contact-social:link,
        .contact-social:visited{
            font-size: 1.2rem;
            color: #dfd3c3;
            margin-left: 0.56rem;
        }
        .contact-header{
            font-size: 1.6rem;
        }
        .footer-container{
            width: 60rem;
        }
}
@media (max-width: 665px) {
    
}
